body {
    background-color: #ededed;
}

/* This section is nav bar for all pages */

.topnav {
    background-color: #FFFFFF;
    font: 12px;
    position: top;
    text-align: right; 
}

h1 {
    color: #FFFFFF;
    background-color: #4AAAA5;
    font: Times;
    margin: 5px, 5px, 5px, 5px;
    border-bottom: #111111;
}

h2 {
    font-size: 32px;
    border-bottom: 3px solid;
    border-color: #ccc;
}

h3 {
    font-size: 32px;
    border-bottom: 3px solid;
    border-color: #ccc;
}

h4 {
    font-size: 32px;
    border-bottom: 3px solid;
    border-color: #ccc;
}

/* This is for contact page */

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit]{
    background-color: #4AAAA5;
    color: #111111;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* This section is for container */

.container1 {
    background-color: #FFF;
    width: 960px;
    padding: 15px;
    height: 450px;
    margin-top: 100px;
    margin-right:300px;
    margin-bottom: 50px;
    margin-left:250px;
}

img {
    float: left;
}

p {
    text-indent: 30px;
    margin-left: 30px;
}

.container2 {
    background-color: #FFFFFF;
    width: 900px;
    padding: 15px;
    height: 450px;
    margin-top: 100px;
    margin-right:300px;
    margin-bottom: 50px;
    margin-left:250px;
}

/* This section is for portofio page*/

.container3 {
    background-color: #FFF;
    width: 900px;
    padding: 15px;
    height: 450px;
    margin-top: 100px;
    margin-right:300px;
    margin-bottom: 50px;
    margin-left:250px;
}

.container4 {
    image-orientation: center;
}

/* This section is for footer */

.footer {
    font: 6px;
    text-align: center;
    position: bottom;
    background-color: #666666;
    padding-top: 30px;
    border-top:3px #4AAAA5;
}

@media only screen and (max-width:980px) 

@media only screen and (max-width: 768px)

@media only screen and (max-width: 640px)